@page {
  size: A4;
  margin-top: 15mm;
  margin-bottom: 15mm;
  margin-left: 10mm;
  margin-right: 10mm;

  @bottom-right {
    content: counter(page);
  }
}

h1 {
  break-before: page;
}

.toc-page-number::after {
  content: target-counter(attr(data-target), page);
}

.toc-section .toc-section {
  padding-left: 1rem;
}
